body {
    font-family: "Lato", sans-serif;
}

#jumbotron_index{
    height: 730px;
    background: url("../../assets/images/login/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
}

#card_title{
    width: 800px;
    margin-left: 40px;
    border-radius: 0;
    position: absolute;
    bottom: 120px;
    border: transparent;
    background: transparent;
    border-left: 10px solid #ffd700;
    border-bottom: 10px solid #ffd700;
}
#judul {
    margin-left: 30px;
    color: #696969;
    font-weight: lighter;
}

#tanggal{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 23px;
    color: initial;
}
#strip {
    color: #ffd700;
    font-size: 20px;
}

#login_form{
    margin-right: 40px;
    width: 457px;
    height: 357px;
    position: absolute;
    right: 0;
    bottom: 220px;
    background: transparent;
    border-top: gold solid 10px;
    border-right: gold solid 10px;
    border-radius: 0;
    border-left: transparent;
    border-bottom: transparent;
}
