body {
    font-family: "Lato", sans-serif;
    background: url("../../assets/images/m1tucY.gif");
    background-repeat: no-repeat;
    background-size: cover;
}



.main-head{
    height: 150px;
    background: #FFF;

}

.sidenav {
    height: 100%;
    background-image: url("../../assets/images/css-svg-map.jpg");
    overflow-x: hidden;
    padding-top: 20px;
    background-repeat: no-repeat;
    background-size: cover;

}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}
.border_h1 {
    padding: 10px;
    text-align: center;
}

@media screen and (min-width: 500px){
    .main{
        margin-left: 25%;
        position: absolute;
        z-index: 2;
    }

    .sidenav{
        width: 33%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 20%;
        margin-right: -40%;
        border: 5px solid grey;
        border-radius: 15px;
        padding: 20px;
        opacity: 0.8;
        color: black;
    }

    .register-form{
        margin-top: 20%;
    }
}

.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}
