body {
    font-family: "Lato", sans-serif;
    background: url("../../assets/images/cover2.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.main-head{
    height: 150px;
    background: #FFF;

}

.sidenav {
    height: 100%;
    background-image: url("../../assets/images/side.png");
    overflow-x: hidden;
    padding-top: 20px;
    background-repeat: no-repeat;
    background-size: cover;

}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}


.border_h1 {
    padding: 6px;
    color: #1b61fe;
    text-align: center;
}

@media screen and (min-width: 500px){
    .main{
        margin-left: 25%;
        position: absolute;
        z-index: 2;
    }

    .login-form{
        margin-top: 50%;
        margin-left: -100%;
        width: 300px;
        border: 5px solid grey;
        border-radius: 15px;
        padding: 20px;
        opacity: 0.7;
        background: url("../../assets/images/login_cover.png");
        background-size: cover;
        position: center;]
        font-family: "Lato", sans-serif;
        font-size: 20px;
    }

    .register-form{
        margin-top: 20%;
    }
}

.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

#jam-digital{overflow:hidden; width:350px}
#hours{float:left; width:100px; height:50px; background-color:#6B9AB8; margin-right:25px}
#minute{float:left; width:100px; height:50px; background-color:#A5B1CB}
#second{float:right; width:100px; height:50px; background-color:#FF618A; margin-left:25px}
#jam-digital p{color:#FFF; font-size:36px; text-align:center; margin-top:4px}
