.table-perumahan thead > tr > th {
   text-align: center;
    vertical-align: middle;
    padding: 6px;
}

.cctv {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    float: right;
}


.center {
    margin-top:50px;
}

.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}

#image-gallery .modal-footer{
    display: block;
}

.thumb{
    margin-top: 15px;
    margin-bottom: 15px;
}

.kotak {
    border-radius: 5px;
    width: 10px;
    height: 10px;
    padding: 20px;
}

.rata_kanan {
    float: right;
    display: flex;
    margin-top: 7px;
    margin-right: 7px;
}

fieldset.data-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
    border-radius: 10px;
}

legend.legend-border {
    width:300px; /* Or auto */
    padding:0 5px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    font-size: 15px;

}
#accordion {
    width: 300px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 200px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

#myBar {
    width: 0%;
    height: 30px;
    background-color: #6598fe;
}

#review_image {
    width: 110px;
    height: 110px;
    float: left;
    border: grey solid 2px;
    border-radius: 5px;
    margin: 5px;
    display: grid;
}

.ktr_image{
    float: left;
    left: 10px;
    bottom: -50px;
    margin-bottom: 10px;
    color: #0E0EFF;
}

.gallery {
    display: inline-block;
    margin-top: 20px;
}

* {
    box-sizing: border-box;
}

.container {
    position: relative;
    max-width: 100%;

}

.container img {vertical-align: middle;}

.container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 94%;
    padding: 20px;
}
